<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1> <a href="/">Home</a>
        <a href="/addtask">Add New Task</a>
    </h1>
    </br>
    <html>
<head>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    </br>
    <h1>
        <table>
            <tr>
                <td>Name</td>
                <td>Due Date</td>
                <td>Description</td>
            </tr>
            <% for (let i =0; i< taskdb.length;i++){ %>
                <tr>
                    <td>
                        <%= taskdb[i].name %>
                    </td>
                    <td>
                        <%= taskdb[i].due %>
                    </td>
                    <td>
                        <%= taskdb[i].description %>
                    </td>
                </tr>
                <% }%>
    </h1>
</body>
</html>
</body>
</html>